* {
  box-sizing: border-box;
}

body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-roboto: Roboto;
    --font-poppins: Poppins;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-13xl: 32px;
    --font-size-sm: 14px;
    --font-size-7xl: 26px;
  
    /* Colors */
    --color-white: #fff;
    --color-gainsboro-100: #ddd;
    --color-gray-100: #0f1419;
    --color-cornflowerblue: #1da1f2;
    --color-black: #000;
    --color-whitesmoke-100: #f7f7f7;
    --color-whitesmoke-200: #f2f2f2;
    --color-slategray: #5b7083;
    --color-lightgray: #c4cfd6;
  
    /* Gaps */
    --gap-29xl: 48px;
    --gap-6xl: 25px;
    --gap-5xl: 24px;
    --gap-base: 16px;
    --gap-xs: 12px;
    --gap-7xs: 6px;
  
    /* Paddings */
    --padding-8xs: 5px;
    --padding-281xl: 300px;
    --padding-11xl: 30px;
    --padding-4xs: 9px;
    --padding-base-7: 16.7px;
    --padding-mid: 17px;
    --padding-xs: 12px;
    --padding-11xs: 2px;
    --padding-6xl: 25px;
    --padding-7xl: 26px;
    --padding-66xl: 85px;
    --padding-mini: 15px;
    --padding-base-1: 15.1px;
    --padding-smi: 13px;
    --padding-9xs: 4px;
  
    /* border radiuses */
    --br-781xl: 800px;
    --br-8xs: 5px;
    --br-3xs: 10px;
    --br-31xl: 50px;
    --br-base: 16px;
    --br-10xs: 3px;
  }
  